body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

#green-box, #red-box {
    height: 50%;
    width: 100%;
}

#green-box {
    background-color: green;
}

#red-box {
    background-color: red;
}
