/* body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background: linear-gradient(to right, #673ab7, #512da8, #4527a0, #311b92, #1a237e);
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0;
    padding: 0;
    color: white;
    max-height: 100%;
} */

body, html, .game-container {
    font-family: 'Helvetica Neue', Arial, sans-serif;

    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #1A237E;
}

.half-screen {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center; /* centers content vertically */
    align-items: center; /* centers content horizontally */
}

.product-image-container {
    flex-grow: 1;
    overflow: hidden; 
}

.product-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.rounded-card {
    background-color: white;
    border-radius: 15px; /* adjust this value for more or less rounding */
    width: 95%; /* adjust width as needed */
    height: 90%; /* adjust height as needed */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px; /* adjust padding as needed */
    box-sizing: border-box; /* ensures padding doesn't affect total width/height */
}
.product-text {
    width: 100%; /* makes text fill the width of the rounded-card */
    font-size: 3rem;
    font-weight: bold;
}

.price-box {
    background-color: #1A237E;
    color: white;
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;
    width: fit-content;
    margin: 0 auto; /* centers the box */
    font-size:4rem;
    padding-left: 1.5rem;
    padding-right:1.5rem;
}

.vs-circle {
    background-color: #4953BF;
    border-radius: 50%; /* Makes it circular */
    width: 7rem; /* Adjust size as needed */
    height: 7rem; /* Adjust size as needed */
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0%);
}

.button-container {
    display: flex;
    justify-content: space-evenly; /* Distributes buttons evenly across the horizontal line */
}

.game-button {
    background-color: #1A237E; /* Use your preferred color */
    color: white;
    border: none;
    border-radius: 15px;
    padding: 10px 20px;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: flex; /* To align the icon and the text */
    align-items: center; /* To vertically center the icon and the text */
}

.game-button:not(.correct):not(.incorrect):hover {
    background-color: #0D153B; /* Darker shade for hover effect, adjust as needed */
}


.triangle-up {
    width: 0;
    height: 0;
    border-left: 1rem solid transparent;
    border-right: 1rem solid transparent;
    border-bottom: 1rem solid white;
    margin-right: 1rem; /* To add space between the icon and the text */
}

.triangle-down {
    width: 0;
    height: 0;
    border-left: 1rem solid transparent;
    border-right: 1rem solid transparent;
    border-top: 1rem solid white;
    margin-right: 1rem; /* To add space between the icon and the text */
}

.o-letter{
    font-size: 3rem;
    font-weight: bold;
}
.separator {
    margin: 0 2rem;
    color: #888;
    font-weight: bold;
}
.correct {
    background-color: green;
    transition: background-color 1s ease;
}

.incorrect {
    background-color: red;
    transition: background-color 1s ease;
}

.score-text {
    color:white;
}

.score-container{
    display: flex;
    justify-content: space-between;
    width: 90%;
}

/* .game-container {
    overflow: auto;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);
    width: 90%;
    max-width: 400px;
    backdrop-filter: blur(10px);
} */

/* h1 {
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 20px;
}

#scoreboard {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.5em;
    color: #32CD32;
    font-weight: bold;
} */

/* .product {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px;
    margin: 20px 0;
    border-radius: 10px;
    text-align: center;
    transition: background-color 0.5s;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
}

.product img {
    width: 85%;
    height: auto;
    object-fit: contain;
    border-radius: 20px;
    max-height: 300px;
} */

/* .product p {
    margin: 10px 0;
    font-size: 1.2em;
} */

/* #price1 {
    font-size: 1.5em;
    font-family: 'Open Sans', sans-serif;
    color: #32CD32;
    text-shadow: 2px 2px 4px #000000;
}

.buttons {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
    background-color: #007BFF;
    color: white;
    font-size: 1.2em;
    transition: background-color 0.5s, transform 0.3s;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    margin-bottom: 10px;
}

button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

#result {
    text-align: center;
    margin-top: 20px;
    font-size: 1.5em;
    font-weight: bold;
}

@media (min-width: 600px) {
    .buttons {
        flex-direction: row;
    }
    button {
        margin-bottom: 0;
    }
}
#score-message {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 187, 45, 0.7); 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 3em;
    color: #ffffff;
    opacity: 0;
    pointer-events: none;
    transition: opacity 1s;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

#score-message p {
    margin: 0;
    padding: 0;
    font-weight: 700;
    letter-spacing: 0.05em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

#rabbit {
    width: auto;
    height: 650px;
    margin-top: 20px;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transition: transform 1s;
}

#score-message.show #rabbit {
    transform: scale(1.1);
} */
#loading-rabbit {
    position: absolute;
    top: 50%; /* center vertically */
    left: -200px; /* start off-screen */
    width: auto;
    height: 600px;
    transition: left 2s; /* animate left property over 2 seconds */
    transform: translateY(-50%); /* shift up by half its height to truly center */
}
#loading-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(103, 58, 183, 1); /* purple overlay with 50% opacity */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* make it appear on top of everything else */
}

#loading-text {
    font-family:  'Open Sans', sans-serif;
    color: white;
    text-shadow: 2px 2px 4px #000000;
    text-align: center;
    font-size: 5em;
    margin-bottom: 10px;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#loading-rabbit {
    width: auto;
    height: 600px;
    transition: all 4s; 
}