

body, html, .game-container {
    font-family: 'Helvetica Neue', Arial, sans-serif;

    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #1A237E;
}

.half-screen {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center; /* centers content vertically */
    align-items: center; /* centers content horizontally */
}

.product-image-container {
    flex-grow: 1;
    overflow: hidden; 
}

.product-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,102,0.8); /* Blue overlay with 80% opacity */
}

.modal-content {
    position: relative;
    background-color: #e6e6ff; /* Light blue background */
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 70%; /* Change width to make it bigger */
    max-width: 1000px; /* Increase the maximum width */
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); /* Add some shadow for a smoother look */
    transition: 0.3s; /* Add a transition effect */
    font-family: 'Arial', sans-serif; /* Choose your font */
}
.modal-content .instructions-heading {
    text-align: left;
    padding-left: 20px;
    font-size: 2.5em; /* adjust the size of the instruction title as needed */
    color: #3F51B5; /* adjust the color of the instruction title as needed */
}

.modal-content .instructions-list {
    text-align: left;
    margin: 10px 20px;
    list-style: none;  /* creates a numbered list with leading zeros (01, 02, etc.) */
}

.modal-content .instructions-list .instruction-item {
    margin-bottom: 10px;
    color: #333; /* adjust the color of the instruction text as needed */
    font-size: 1.8em; /* adjust the size of the instruction text as needed */
    line-height: 1.5; /* adjust the line height as needed for better readability */
}
.modal-content h2, .modal-content p {
    font-size: 2.5em;
    color: #1A237E; /* Dark blue color for text */
    margin: 0 0 15px 0; /* Add some margin to the bottom */
    line-height: 1.4; /* Space out the lines of text a bit */
     text-align: left;
      padding: 20px;
}
.modal-content #logo {
    position: absolute; /* Allows positioning in relation to the nearest relative ancestor */
    top: 10px; /* Adjust these values to position the logo */
    right: 10px;
    width: 150px; /* Adjust the size of the logo */
    height: auto; /* Maintains aspect ratio */
}
.modal-content input[type=text] {
    width: 95%; /* Full width */
    padding: 15px; /* Add some padding */
    margin: 5px 0 22px 0; /* Add some margin */
    border: none; /* Remove the border */
    background: #f1f1f1; /* Set a light grey background */
    font-size: 1.5em; /* Increase font size */
}

.modal-content button {
    background-color: #4B0082; /* Purple background */
    color: white; /* White text */
    padding: 15px 20px; /* Add some padding */
    border: none; /* Remove the border */
    cursor: pointer; /* Add a pointer cursor on hover */
    width: 100%; /* Full width */
    opacity: 0.9; /* Add some transparency */
    font-size: 1.5em; /* Increase font size */
}

.modal-content button:hover {
    opacity: 1; /* Increase opacity on hover */
}
.rounded-card {
    background-color: white;
    border-radius: 15px; /* adjust this value for more or less rounding */
    width: 95%; /* adjust width as needed */
    height: 90%; /* adjust height as needed */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px; /* adjust padding as needed */
    box-sizing: border-box; /* ensures padding doesn't affect total width/height */
}
.rounded-card.second {
    margin-top: 60px; /* adjust this value as per your requirement */
}
.product-text {
    width: 100%; /* makes text fill the width of the rounded-card */
    font-size: 3rem;
    font-weight: bold;
}

.price-box {
    background-color: #3399FF;
    color: white;
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;
    width: fit-content;
    margin: 0px auto 20px auto; /* Bottom margin set to 20px */
    font-size:4rem;
    border: 10px solid purple;
    padding-left: 1.5rem;
    padding-right:1.5rem;
}

.vs-circle {
    background-color: #5574F7;
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    font-weight: bold;
    position: absolute;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 0.5rem solid purple; /* Adding a border (stroke) */
    transition: all 0.5s ease;
    box-shadow: 0 0 1rem purple; /* Add a purple shadow for an extra glow */
}


.button-container {
    display: flex;
    justify-content: space-evenly; /* Distributes buttons evenly across the horizontal line */
}

.game-button {
    background-color: #3399FF; /* Use your preferred color */
    color: white;
    border: none;
    border: 10px solid purple;
    border-radius: 15px;
    padding: 10px 20px;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: flex; /* To align the icon and the text */
    align-items: center; /* To vertically center the icon and the text */
}

.game-button:not(.correct):not(.incorrect):hover {
    background-color: #0D153B; /* Darker shade for hover effect, adjust as needed */
}


.triangle-up {
    width: 0;
    height: 0;
    border-left: 1rem solid transparent;
    border-right: 1rem solid transparent;
    border-bottom: 1rem solid white;
    margin-right: 1rem; /* To add space between the icon and the text */
}

.triangle-down {
    width: 0;
    height: 0;
    border-left: 1rem solid transparent;
    border-right: 1rem solid transparent;
    border-top: 1rem solid white;
    margin-right: 1rem; /* To add space between the icon and the text */
}

.o-letter{
    font-size: 3rem;
    font-weight: bold;
}
.separator {
    margin: 0 2rem;
    color: #888;
    font-weight: bold;
}
.correct {
    background-color: green;
    transition: background-color 1s ease;
}

.incorrect {
    background-color: red;
    transition: background-color 1s ease;
}

.score-text {
    color: white;
    font-family: 'Arial', sans-serif;
    font-size: 2.0em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Add a subtle text shadow for depth */
    transition: color 0.3s ease; /* Smooth transition for any color change */
}

.score-text:hover {
    color: #ddd; /* Lighten the text color on hover */
}

.score-container {
    display: flex;
    justify-content: space-between;
    width: 90%;
    padding: 20px; /* Add some padding for a cleaner look */
    background: rgba(204, 0, 204, 0.5) url('img/basket_icon.png') center center no-repeat;
    background-size: auto 70%;  /* Semi-transparent background */
    background-position: 50% 80% ;
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); /* Add a subtle shadow for depth */
    transition: background 0.3s ease; /* Smooth transition for any background change */
}

.score-container:hover {
    background: rgba(0, 0, 0, 0.7); /* Darken the background on hover */
}
#loading-rabbit {
    position: absolute;
    top: 50%; /* center vertically */
    left: -200px; /* start off-screen */
    width: auto;
    height: 600px;
    transition: left 2s; /* animate left property over 2 seconds */
    transform: translateY(-50%); /* shift up by half its height to truly center */
}
#loading-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(103, 58, 183, 1); /* purple overlay with 50% opacity */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* make it appear on top of everything else */
}

#loading-text {
    font-family:  'Open Sans', sans-serif;
    color: white;
    text-shadow: 2px 2px 4px #000000;
    text-align: center;
    font-size: 5em;
    margin-bottom: 10px;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#loading-rabbit {
    width: auto;
    height: 600px;
    transition: all 4s; 
}