body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background: linear-gradient(to right, #673ab7, #512da8, #4527a0, #311b92, #1a237e);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    color: white;
}

.game-container {
    overflow: auto;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);
    width: 90%;
    max-width: 400px;
    backdrop-filter: blur(10px);
}

h1 {
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 20px;
}

#scoreboard {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.5em;
    color: #32CD32;
    font-weight: bold;
}

.product {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px;
    margin: 20px 0;
    border-radius: 10px;
    text-align: center;
    transition: background-color 0.5s;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
}

.product img {
    width: 85%;
    height: auto;
    object-fit: contain;
    border-radius: 20px;
    max-height: 300px;
}

.product p {
    margin: 10px 0;
    font-size: 1.2em;
}

#price1 {
    font-size: 1.5em;
    font-family: 'Open Sans', sans-serif;
    color: #32CD32;
    text-shadow: 2px 2px 4px #000000;
}

.buttons {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
    background-color: #007BFF;
    color: white;
    font-size: 1.2em;
    transition: background-color 0.5s, transform 0.3s;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    margin-bottom: 10px;
}

button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

#result {
    text-align: center;
    margin-top: 20px;
    font-size: 1.5em;
    font-weight: bold;
}

@media (min-width: 600px) {
    .buttons {
        flex-direction: row;
    }
    button {
        margin-bottom: 0;
    }
}
#score-message {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 187, 45, 0.7); /* purple overlay */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 3em;
    color: #ffffff; /* white text */
    opacity: 0;
    pointer-events: none;
    transition: opacity 1s;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

#score-message p {
    margin: 0;
    padding: 0;
    font-weight: 700;
    letter-spacing: 0.05em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* text shadow for better readability */
}

#rabbit {
    width: auto;
    height: 650px;
    margin-top: 20px;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transition: transform 1s;
}

#score-message.show #rabbit {
    transform: scale(1.1);
}
#loading-rabbit {
    position: absolute;
    top: 50%; /* center vertically */
    left: -200px; /* start off-screen */
    width: auto;
    height: 600px;
    transition: left 2s; /* animate left property over 2 seconds */
    transform: translateY(-50%); /* shift up by half its height to truly center */
}
#loading-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(103, 58, 183, 1); /* purple overlay with 50% opacity */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* make it appear on top of everything else */
}

#loading-text {
    font-family:  'Open Sans', sans-serif;
    color: white;
    text-shadow: 2px 2px 4px #000000;
    text-align: center;
    font-size: 5em;
    margin-bottom: 10px;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#loading-rabbit {
    width: auto;
    height: 600px;
    transition: all 4s; /* animate over 2 seconds */
}